* {
    box-sizing: border-box;
}

h1 {
    margin: 0 auto;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    width: 25%;
    border-bottom: 2px gray solid;
    padding-bottom: 15px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: rgb(41, 41, 41);
}

div.imgstrock {
    border: 1px solid whitesmoke;
}

div.imgstrock:hover {
    box-shadow: 0px 0px 34px -15px rgba(0,0,0,0.75);
    color: rgb(63, 63, 63);
}

div.imgstrock img{
    width: 100%;
    height: auto;
}

div.text {
    padding: 15px;
    text-align: center;
    color: rgb(34, 34, 34);
}

.imgbox {
    width: 30%;
    margin: 1.6%;
    float: left;
}